*
{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
.login
{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login form
{
  width: 300px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.login form input
{
  padding: 10px;
  font-size: 16px;
}
.login form button
{
  padding: 10px;
  font-size: 16px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}
